.about-us-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	background-color: hsla(126, 17%, 45%, 0.3);
	border-radius: var(--border-radius-cards);
	max-width: 70vw;
	margin: 2rem auto;
	padding: 0.5em;
}

.newsletter-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	border-radius: var(--border-radius-cards);
	max-width: 70vw;
	margin: 2rem auto;
	padding: 0.5em;
}
.newsletter-h2 {
	text-transform: capitalize;
	text-wrap: pretty;
}
.newsletter-h3 {
	font-weight: 100;
	text-wrap: pretty;
}
.newsletter-wrapper {
	background-color: rgba(255, 255, 255, 0.547);
	padding: 2rem;
}
.about-us-img {
	max-width: 50vw;
	border-radius: 1rem 0 1rem 0;
	margin: 1rem;
}
.thumbnail-container {
	display: flex;
	justify-content: center;
}
.thumbnail-h5 {
	font-weight: 100;
}

/* -----------------------------------*/
/* MEDIUM VIEWPORT WIDTH 28-43 REM */
/* ---------------------------------*/
@media (min-width: 28rem) and (max-width: 43rem) {
	.newsletter-form {
		width: 100%;
	}
}

/* ---------------------------*/
/* LARGE VIEWPORT MIN. 44 REM */
/* ---------------------------*/
@media (min-width: 43rem) {
	.about-us-container,
	.newsletter-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.newsletter-wrapper {
		align-items: center;
		background-color: rgba(255, 255, 255, 0.547);
		padding: 1rem;
		text-align: center;
	}
	.about-us-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem;
	}
	.about-us-img {
		max-width: 40vw;
	}
}
