.post-card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	text-align: center;
	text-wrap: pretty;
	border-radius: 12px;
	text-decoration: none;
	border: 2px solid transparent;
	transition: 0.2s ease;
	box-sizing: border-box;
}
#posts-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
	justify-content: center;
	justify-items: center;
}
.featured-image {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: var(--border-radius-image);
	padding-bottom: 0.5rem;
}
.call-to-action {
	padding: 0.5rem;
	margin-top: 10px;
	color: var(--button-font-color);
	background-color: var(--accent-color);
	border: 1px solid var(--postcard-border);
	max-width: fit-content;
	border-radius: var(--border-radius);
}
.read-more-link {
	transition: all 0.25s;
}
.read-more-link:hover {
	letter-spacing: 4px;
}
/* ---------------------------*/
/* MEDIUM VIEWPORT MIN: 28REM MAX:43REM */
/* ---------------------------*/
@media (min-width: 28rem) and (max-width: 43rem) {
	#posts-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	.post-card-wrapper {
		height: 420px;
	}
	.button-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
		justify-content: center;
		justify-items: center;
	}
}
/* ---------------------------*/
/* LARGE VIEWPORT MIN. 44 REM */
/* ---------------------------*/
@media (min-width: 43rem) {
	#posts-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}
	.post-card-wrapper {
		height: 420px;
	}
	.button-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 80rem));
		justify-content: center;
		justify-items: center;
	}
}
