.carousel-section {
	max-width: 950px;
	height: 600px;
	margin: 0 auto;
	padding: 0rem;
}

.carousel-view {
	display: flex;
	scroll-behavior: smooth;
	overflow: auto;
	scroll-snap-type: x mandatory;
	/* padding: 5rem; */
}
/* .item {
	scroll-snap-align: center;

} */
.item-list {
	/* max-width: 950px; */
	/* width: 70vw; */
	display: flex;
	/* margin: 0 auto; */
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	overflow: hidden;
}

.carousel-card {
	scroll-snap-align: center;
	/* width: 300px;
	height: 100px; */
}
