.carousel-container {
	margin: 1rem;
}
.card-list .card-item {
	list-style: none;
	max-width: fit-content;
	height: 420px;
}
.card-list .card-item .card-link {
	width: 350px;
	height: 420px;
	display: block;
	background: #fff;
	padding: 18px;
	border-radius: 12px;
	text-decoration: none;
	border: 2px solid transparent;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
	transition: 0.2s ease;
}
.card-list .card-item .card-link:hover {
	border-color: #205c20;
}

.card-list .card-link .card-image {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 10px;
}

.card-list .card-link .badge {
	color: #205c20;
	padding: 8px 16px;
	font-size: 0.95rem;
	font-weight: 500;
	margin: 16px 0 18px;
	background: #d6f8d6;
	width: fit-content;
	border-radius: 50px;
}

.card-list .card-link .card-title {
	font-size: 1.19rem;
	color: #000;
	font-weight: 600;
}

.card-list .card-link .card-button {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin: 30px 0 5px;
	background: none;
	cursor: pointer;
	border: 2px solid #205c20;
	transform: rotate(-45deg);
	transition: 0.4s ease;
}
.card-list .card-link:hover .card-button {
	color: #fff;
	background: #205c20;
}
