.section-wrapper {
	justify-content: center;
	margin: 0.5rem;
}
.post-card-wrapper {
	width: 250px;
	height: 450px;
	border: 2px solid transparent;
	border-radius: 12px;
	margin: 0.5rem;
	transition: 0.2s ease;
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	max-width: 70vw;
	margin: 2rem auto;
	padding: 0.5em;
}
.container-about {
	min-width: 100vw;
}
.thumbnail-container {
	display: flex;
	justify-content: center;
}
.newsletter-container {
	justify-content: center;
	width: 100%;
	margin: 1rem auto;
	display: flex;
}
.newsletter-wrapper {
	padding: 2rem;
}
.footer-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	align-items: center;
	text-wrap: pretty;
	width: 100%;
}
.single-story-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}
.story-wrapper {
	padding: 2rem;
}
.index-img-links-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* ---------------------------*/
/* LARGE VIEWPORT MIN. 44 REM */
/* ---------------------------*/
@media (min-width: 43rem) {
	.index-img-links-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}