.form {
	padding: 0.3rem 0.5rem;
}
.form-input {
	width: 100%;
	height: 30px;
}
.form-message-input {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.form-message-input::placeholder {
	position: absolute;
	top: 0;
}