body {
	background-color: var(--body-background);
}
.footer-wrapper {
	background-color: var(--footer-background);
}
.page-h1 {
	color: var(--h-color);
}
.logo {
	max-width: 285px;
	display: flex;
	margin: 0 auto;
}
.nav-section {
	background-color: var(--nav-background-color);
}
.nav-and-theme-switcher {
	background-color: var(--header-nav-switch-background);
}
/*** CONTAINERS ****/
.container {
	background-color: var(--container-background);
}
.container-about {
	background-color: var(--body-background);
}
.newsletter-container {
	background-color: var(--container-background);
	color: var(--font-color);
}
/**** INDEX PAGE *****/
.img-link-about,
.img-link-contact,
.img-link-stories {
	display: flex;
	width: 12.5rem;
	height: 12.5rem;
	padding: 0rem 2.1875rem;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	margin: 1rem;
}
.img-link-about {
	background: url(/images/forest-small.jpg) lightgray 50% / cover no-repeat;
}
.img-link-stories {
	background: url(/images/forest-book-small.jpg) lightgray 50% / cover no-repeat;
}
.img-link-contact {
	background: url(/images/close-up-moss-nature-small.jpg) lightgray 50% / cover
		no-repeat;
}
/****** CAROUSEL & BLOGPOSTS ******/
.badge {
	color: var(--badge-color);
	background: var(--badge-background);
}
.card-link,
.card-item,
.post-card-wrapper {
	color: var(--font-color);
	background-color: var(--postcard-background);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}
.card-link:hover,
.post-card-wrapper:hover {
	border-color: var(--postcard-border-color);
}
/**** ABOUT.HTML *****/
.about-us-img {
	max-width: 50vw;
	border-radius: 1rem 0 1rem 0;
	margin: 1rem;
}
.story-image {
	max-width: 90%;
	display: flex;
	margin: 1rem auto;
	border-radius: var(--border-radius-image);
}
.story-background {
	background-color: var(--story-background);
}
.about-newsletter {
	background-color: var(--about-newsletter-background);
}
/* *** MODAL - STORY.HTML *** */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}
.modal-content,
.modal {
	animation-name: zoom;
	animation-duration: 0.6s;
}
@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
.modal-content:hover {
	cursor: pointer;
}
