/* -----------------------------------*/
/* MEDIUM VIEWPORT WIDTH 28-43 REM */
/* ---------------------------------*/
@media (min-width: 28rem) and (max-width: 43rem) {
	.newsletter-form {
		width: 100%;
	}
}
/* ---------------------------*/
/* LARGE VIEWPORT MIN. 44 REM */
/* ---------------------------*/
@media (min-width: 43rem) {
	.about-us-container,
	.newsletter-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.newsletter-wrapper {
		align-items: center;
		text-align: center;
		gap: 2rem;
		display: flex;
		justify-content: space-around;
	}
	.newsletter-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.about-us-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0.5rem;
	}
	.about-us-img {
		max-width: 40vw;
	}
	.story-image {
		max-width: 50%;
	}
	.the-story {
		max-width: 50%;
	}
}
