.nav-and-theme-switcher {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-section {
	display: flex;
	align-items: center;
}
nav,
#menu-checkbox {
	display: none;
}
#menu-checkbox:checked ~ nav {
	display: block;
}
.menu-icon {
	margin: 0.5rem;
	cursor: pointer;
	outline: none;
}
/* Show outline only when using keyboard navigation */
.user-is-tabbing .menu-icon:focus {
	outline: 2px solid #000; /* or any other style you prefer */
}
.close-icon {
	display: none;
}
#menu-checkbox:checked + .menu-label .open-icon {
	display: none;
}
#menu-checkbox:checked + .menu-label .close-icon {
	display: inline;
}
#menu-checkbox:checked ~ nav {
	display: block;
}
#menu-checkbox:checked ~ nav a {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--nav-a-color);
}
nav {
	position: absolute;
	background: var(--nav-background-color);
	width: 100%;
}
nav a {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--nav-a-color);
}
.footer-navigation {
	padding-left: 1rem;
}

/* ******** SMALL SCREEN ******** */
@media (max-width: 28rem) {
	.nav-section {
		display: block;
	}
}
/* ******** MEDIUM SCREEN ******** */
@media (min-width: 28rem) and (max-width: 43rem) {
	nav {
		display: flex;
		height: fit-content;
		justify-content: space-around;
		max-width: 80%;
	}
	.menu-label {
		display: none;
	}
}
/* ******** LARGE SCREEN ******** */
@media (min-width: 43rem) {
	nav {
		display: flex;
		height: fit-content;
		justify-content: center;
	}
	.menu-label {
		display: none;
	}
}
