.nav-and-theme-switcher {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-section {
	display: flex;
	align-items: center;
}
nav {
	display: none;
}
.nav-button {
	margin: 1rem;
	border: none;
	border-radius: 100px;
	align-content: center;
	background-color: var(--nav-background-color);
	color: #000;
}
.menu-icon {
	margin: 0.5rem;
	cursor: pointer;
	outline: none;
	width: 2.3em;
	height: 2.3em;
}
.menu-icon-path {
	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1.7px;
	color: #000;
}
.close-icon .menu-icon-path {
	fill: currentColor;
	stroke: none;
}

/* Show outline only when using keyboard navigation */
.user-is-tabbing .menu-icon:focus {
	outline: 2px solid #000;
}
.close-icon {
	display: none;
}
#menu-button[aria-expanded="true"] .open-icon {
	display: none;
}
#menu-button[aria-expanded="true"] .close-icon {
	display: inline;
}
#menu-button[aria-expanded="true"] ~ nav {
	display: block;
}
#menu-button[aria-expanded="true"] ~ nav a {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--nav-a-color);
}
nav {
	position: absolute;
	background: var(--nav-background-color);
	width: 100%;
	z-index: 1000;
}
nav a {
	display: block;
	padding: 0.5rem 1rem;
	color: var(--nav-a-color);
	margin: 1rem;
}
.footer-navigation {
	padding-left: 1rem;
}

/* ******** SMALL SCREEN ******** */
@media (max-width: 28rem) {
	.nav-section {
		display: block;
	}
}
/* ******** MEDIUM SCREEN ******** */
@media (min-width: 28rem) and (max-width: 43rem) {
	nav {
		display: flex;
		height: fit-content;
		justify-content: space-around;
		max-width: 80%;
	}
	nav a {
		margin: 0;
	}
	.menu-label {
		display: none;
	}
}
/* ******** LARGE SCREEN ******** */
@media (min-width: 43rem) {
	nav {
		display: flex;
		height: fit-content;
		justify-content: center;
		margin: 0;
	}
	nav a {
		margin: 0;
	}
	.menu-label {
		display: none;
	}
}
