legend,
h1,
h2,
h3,
h4,
p,
input,
a {
	font-family: "Cherry Swash", sans-serif;
}
label {
	font-family: "montserrat", sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-shadow: var(--hover-shadow-color);
}
.active {
	text-decoration: underline;
}
.cherry-swash-regular {
	font-family: "Cherry Swash", serif;
	font-weight: 400;
	font-style: normal;
}
.cherry-swash-bold {
	font-family: "Cherry Swash", serif;
	font-weight: 700;
	font-style: normal;
}
.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.h1-backdrop {
	backdrop-filter: blur(5px) contrast(50%) brightness(30%);
	background-color: hsl(0 0% 100% / 0.4);
	position: fixed;
	margin: auto;
	inset: 0;
}

.thumbnail-h5 {
	font-weight: 100;
}
.newsletter-h2 {
	text-transform: capitalize;
	text-wrap: pretty;
}
.newsletter-h3 {
	font-weight: 100;
	text-wrap: pretty;
}
