legend,
h1,
h2,
h3,
h4,
p,
input,
a {
	font-family: "Cherry Swash", sans-serif;
}
label {
	font-family: "montserrat", sans-serif;
	font-size: 18px;
}
input {
	font-size: 16px;
}
a {
	text-decoration: none;
}
p {
	font-size: 18px;
}
nav a:hover,
footer a:hover {
	text-decoration: underline;
	text-shadow: var(--hover-shadow-color);
}
.active {
	text-decoration: underline;
}
.cherry-swash-regular {
	font-family: "Cherry Swash", serif;
	font-weight: 400;
	font-style: normal;
}
.cherry-swash-bold {
	font-family: "Cherry Swash", serif;
	font-weight: 700;
	font-style: normal;
}
.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.page-h1 {
	display: flex;
	justify-content: center;
}
.single-post-story::first-letter {
	text-transform: uppercase;
}
.form-h1 {
	color: var(--font-color);
}
/* .h1-backdrop {
	backdrop-filter: blur(5px) contrast(50%) brightness(30%);
	background-color: hsl(0 0% 100% / 0.4);
	position: fixed;
	margin: auto;
	inset: 0;
} */

/* .thumbnail-h5 {
	font-weight: 100;
} */
.newsletter-h2 {
	text-transform: capitalize;
	text-wrap: pretty;
	text-align: center;
}
.newsletter-h3 {
	font-weight: 100;
	text-wrap: pretty;
	color: var(--font-color);
}
.the-story {
	text-wrap: balance;
	max-width: 70%;
	margin: 0 auto;
	padding-top: 1rem;
}
.the-story::first-letter {
	font-family: "Cherry Swash", serif;
	font-weight: bold;
	font-size: 80px;
	line-height: 0;
}
.story-title,
.story-author,
.date,
.the-story {
	color: var(--font-color);
}
.the-story {
	font-family: "montserrat", sans-serif;
}
