legend,
h1,
h2,
h3,
h4,
h5,
input,
a {
	font-family: "Cherry Swash", sans-serif;
}
h1,
h2 {
	font-size: 24px;
}
h3,
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
label,
p {
	font-family: "montserrat", sans-serif;
	font-size: 18px;
}
input {
	font-size: 18px;
}
a {
	text-decoration: none;
	font-size: 18px;
}
nav a:hover,
footer a:hover {
	text-decoration: underline;
	text-shadow: var(--hover-shadow-color);
}
small {
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
}
.active {
	text-decoration: underline;
}
.cherry-swash-regular {
	font-family: "Cherry Swash", serif;
	font-weight: 400;
	font-style: normal;
}
.cherry-swash-bold {
	font-family: "Cherry Swash", serif;
	font-weight: 700;
	font-style: normal;
}
.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.page-h1,
.index-h1,
.about-h {
	display: flex;
	justify-content: center;
}
.index-h1 {
	padding-top: 1rem;
}
.form-h1,
.about-h1 {
	color: var(--font-color);
}
.about-h {
	padding-bottom: 0.5rem;
	margin-top: 0;
}
.about-p {
	text-wrap: pretty;
	align-content: center;
	padding: 0.5rem;
	text-align: center;
}
.linebreak-large-screen {
	display: none;
}
.story-paragraph {
	padding: 1rem;
	color: var(--story-paragraph-color);
	text-wrap: pretty;
}
.story-paragraph:first-child::first-letter {
	font-family: "Cherry Swash", serif;
	font-weight: bold;
	font-size: 80px;
	line-height: 0;
}
.post-card-content {
	background: var(--blog-card);
}
.h2-img-link {
	backdrop-filter: blur(5px) contrast(50%) brightness(30%);
	background-color: hsl(0, 0%, 100%);
	display: flex;
	justify-content: center;
}
.newsletter-h2 {
	text-transform: capitalize;
	text-wrap: pretty;
	text-align: center;
}
.newsletter-h3 {
	font-weight: 100;
	text-wrap: pretty;
	color: var(--font-color);
}
.the-story {
	text-wrap: balance;
	max-width: 70%;
	margin: 0 auto;
	padding-top: 1rem;
}
.the-story::first-letter {
	font-family: "Cherry Swash", serif;
	font-weight: bold;
	font-size: 80px;
	line-height: 0;
}
.story-title,
.story-author,
.the-story {
	color: var(--font-color);
}
.the-story {
	font-family: "montserrat", sans-serif;
}
.blog-post-title {
	height: 65px;
	display: flex;
	align-items: center;
}
.blog-post-excerpt {
	height: 90px;
	display: flex;
	align-items: center;
}
/***** FORM ******/
.counter {
	font-size: 0.9rem;
}
.counter.valid {
	color: var(--success-color);
}
.counter.invalid {
	color: var(--error-color);
}
